<!DOCTYPE html>
<html>
<head>
    <title>Django Blog</title>
<style>
    body {
        background-color: rgb(223, 174, 30);
        padding: 1%;
    }
    h1 {
        background-color: antiquewhite;
    }
    div {
        background-color: bisque;
        padding: 1%;
    }
    i {
        align-self: right;
    }
    .author {
        text-align: right;
    }
</style>
</head>
<body>
    <h1>Posts</h1>
    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.text }}</p>
            <div class="author">
                <b><i>Author:{{post.author}}</i></b>
            </div>
        </div>
    {% endfor %}
</body>
</html>

